.cart-bg-image{
    filter: blur(30px);
    opacity: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.cartlist-link{
    text-decoration: none;
    color: black;
}
.cartlist-link div{
    margin-left: .3rem;
}
.checkout-button{
    background-color:green;
    color: white;
    border-color: #1111;
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin: 5vh 0;
}
.about-cart-item{
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
        align-items: center;
        width: 50%;  
}
.cartlist{
    padding-bottom: 1rem;
    border-bottom: solid 2px var(--fadenavcolor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    width: 70%;
}
.cartlist:last-child{
    border-bottom: none;
}
.cartlist img{
    width: 10rem;
    height: 8rem;
}
.cartlist p{
    margin: .2rem;
}
.cart-quantity{
    display: flex;
    align-items: center;
}
.cart-quantity p{
    margin: 3px .4rem;
}
.cart-quantity small{
    margin: 3px .4rem
}
.description-header{
    color: var(--navcolor);
    font-weight: 800;
}

.cart-list-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-total{
    text-align: center;
}
.cart-total span{
    font-weight: 500;
}
.quantity-input{
    height: 1rem;
    width: 2.5rem;
}
.remove-item-button{
    background-color: var(--navcolor);
    border-radius: 2rem;
    height: 2rem;
    color: #fff;
    cursor: pointer;
}
.no-cart{
    height: 70vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary)
}
.no-cart p{
    font-size: 2vw;
    font-weight: 700;
}
.empty-cart{
    text-align: center;
    margin: auto;
    font-weight: 900;
    font-size: 3rem;
    color: var(--navcolor);
}
.empty-cart-container{
        height: 70vh;
        display: flex;
        justify-content: center;

}

@media (max-width:800px) {
    .cart-container{
        margin-top: 10vh;
    }
    .cartlist{
        padding-bottom: 1rem;
        border-bottom: solid 2px var(--fadenavcolor);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: .5rem auto;
        width: 90%;
    }
    .about-cart-item{
        flex-direction: column;
    }

    
    .cartlist img{
        width: 10rem;
        height: 15vh;
    }
}