.image-wrapper {
    position: relative;
    display: inline-block; /* Allows absolute positioning */
  }
  
  .out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    color: red; /* Text color for "Out Of Stock" */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust size as needed */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Transition effect */
  }

  
  .image-wrapper:hover .out-of-stock-overlay {
    opacity: 1; /* Show the overlay on hover */
  }
  
  .out-of-stock-img {
    opacity: 0.5; /* Optionally make the image semi-transparent */
  }
  .fab-image-container, .section-fab-image-container{
    height: 15rem;
  }
  .home-product-link-texts{
    margin-bottom: 1rem;
  }
  @media (max-width: 800px) {
    .section-fab-image-container{
      height: 12rem;
    }
  }
  
  @media (max-width: 500px) {
    .fab-image-container{
      height: 11rem;
    }
  }

  @media (max-width: 400px) {
    .fab-image-container{
      height: 8rem;
    }
  }
  