.item-info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    gap: 20px;
     width: 100vw;    
}
.item-details {
    flex: 1; /* Make this take up equal space */
  }
  .item-details p{
  margin: 0.5rem 0
  }
  .item-details .description{
font-size: 2rem;
  }
.item-info-img-container {
       display: flex;
       align-items: end;
       flex-direction: column;
       flex: 1; /* Make this take up equal space */
}

.item-info-img{
    /* width: 20rem; */
    width: 70%;
    height: auto;
    object-fit: contain;
}

.item-info button{
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: .5rem;
    width: 70%;
}

.item-image-loader-container {
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.item-image-spinner {    

    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: var(--bgbuttons)  transparent var(--bgbuttons)  transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@media (max-width: 800px) {
    .item-info{
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        margin: auto;
          margin-bottom: 5rem;

    }
    .item-info-img{
        /* width: 20rem; */
        width: 100%;
        height: auto;
    }
    
    .item-info button{
        width: 100%;
    }
    .item-info-img-container {
        align-items: center;
        flex-direction: column;
   
 }
 
}

@media (max-width: 500px) {
    .item-info{
        margin-top: 1rem;
    }
}