.item-info-img-container img{
       width: 30rem;
}
.item-info-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-info-img-container button{
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: .5rem;
    width: 25%;
}

@media (max-width: 500px) {
    .item-info{
        margin-top: 5rem;
    }
    .item-info-img-container img{
         width: 80%;
    }
    .item-info-img-container button{
        width: 70%;
        
    }
}