.home-container {
}
/* .home-bg-image{
  filter: blur(60px);
  opacity: 0.4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
} */
.welcome {
  margin-left: 10vw;
  font-size: 2rem;
}
.hero-image{
  width: 80vw;
  margin: auto;
}
.hero-image img{
  width: 100%;
}
.home-links {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}
.home-link {
  text-decoration: none;
  color: var(--buttonscolor);
  background-color: var(--navcolor);
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  width: 8rem;
  margin-top: 2rem;
  text-align: center;
  transition: background-color 0.7s ease, color 0.4s ease; /* Transition for text color */
  z-index: 1;
  overflow: hidden;
}

.home-link::before {
  content: "";
  position: absolute;
  background-color: white;
  top: 50%; /* Start at the middle vertically */
  left: 50%; /* Start at the middle horizontally */
  width: 0%; /* Start with zero width */
  height: 300%; /* Make height bigger to ensure the button is fully covered */
  transform: translate(-50%, -50%); /* Center the starting point */
  z-index: -1;
  transition: width 0.7s ease, height 0.7s ease;
}

.home-link:hover::before {
  width: 300%; /* Expand width to cover the entire button */
  height: 300%;
}
.home-link:hover {
  color: var(--bgbuttons);
}
.home-section-link {
  text-decoration: none;
  border-bottom: 2px solid var(--navcolor);
  color: var(--navcolor);
  text-decoration: none;
  width: auto;
}

.logo {
  width: 2rem;
  border-radius: 5rem;
}

.home-fabric-section h3 {
  margin: 0.3rem 0;
}
.home-fabric-section p {
  margin: 0.3rem 0;
}
.home-see-all-link {
  color: var(--navcolor);
}
.home-fabric-section {
  margin: 2rem 0;
}
.home-product-link img,
.home-product-link .preloader-image-container {
  width: 15rem;
  border-radius: 0.5rem;
}
.preloader-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-product-link .preloader-image {
  width: 40%;
}
.home-section-products {
  display: flex;
}
.home-cart-button {
  border-radius: 0.5rem;
  padding: 1em 1rem;
  width: 8rem;
  margin: auto;
  cursor: pointer;
  font-size: 0.8rem;
}

.home-product-link {
  text-decoration: none;
}
.home-product-list {
  color: black;
  margin-right: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-product-link-texts p {
  color: black;
  text-align: center;
  margin: 2px auto;
  font-size: 18px;
}
.home-product-link-texts p span {
  color: var(--navcolor);
  font-weight: 700;
}
.home-product-list-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  .home-product-list {
    margin-bottom: 1rem;
  }
}
@media (max-width: 800px) {
  .home-links {
    margin: 0 2rem;
  }
  .home-product-list-container {
    justify-content: space-between;
  }
  .home-link {
    margin-top: 2rem;
  }
}

@media (max-width: 470px) {
  .hero-image {
    width: 90vw;
  }
  .welcome {
    margin-right: 10vw;
  }
  .home-product-list {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .home-product-list img,
  .home-product-list .preloader-image-container {
    width: 10rem;
    /* height: 10rem; */
  }
  .home-product-link-texts p {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .home-product-list img,
  .home-product-list .preloader-image-container {
    width: 8rem;
    /* height: 8rem; */
  }
  .welcome{
    font-size: 1.5rem;
  }
  .logo{
    width: 1.5rem
  }
}
