.home-container{
    height: 90vh;
    
}
.home-bg-image{
    filter: blur(10px);
    opacity: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.home-links{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-link{
    text-decoration: none;
    color: var(--buttonscolor);
    background-color: var(--bgbuttons);
    padding: 1rem 1.5rem;
    border-radius: .5rem;   
     margin-bottom: 2rem;
}
.home-link:hover{
   background-color: var(--buttonscolor);
   color: var(--bgbuttons)
}