header{
position: fixed;
top: 0;
width: 100%;
z-index: 10;
}

nav {
  position: relative;
  color: white;
  background-color: var(--navcolor);
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); 
}

nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background-header.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1; 
}
nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--header-footer-bg); 
  z-index: -1;
}

h1{
    margin: 0;
}
.h1-link{
    text-decoration: none;
    color: #fff
}
.crown{
  color: gold;
}
.log-sign .big-screen-search-button{
  margin-right: 1rem;
}

.small-screen-search-button{
  margin-right: 2vw;
}

.big-screen-nav{
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-screen-nav p{
  cursor: pointer;
  margin: 0;
}
.cart-link{
  color: #fff;
  text-decoration: none;
}

.big-screen-link {
    color:#fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-screen-link:hover{
    text-decoration: underline;
}
.big-screen-link p {
    margin: 0;
}
.log-sign{
    display: flex;
}
.log-sign .big-screen-link{
    margin-left: 2rem;
}
nav .bold-link {
    color:red;
  }
.header-links{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.small-screen-nav{
    display: none;
}
.small-nav-links{
    position: relative;
    z-index: 99;
    background-color: var(--navcolor);
    color: #fff;
    margin: 0;
    padding: 2rem 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.small-nav-links::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background-header.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1; 
}
.small-nav-links::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--header-footer-bg); 
  z-index: -1; 
}

.picked{
    background-color: white;
    color: var(--navcolor);
    border-radius: .5rem;
    padding: .2rem .3rem
    
}
.africalogo{
  color: gold;
}

.small-nav-links .logout-button{
  color: var(--navcolor)
}
.hide-nav{
    display: none;
    animation: slideOutTop 0.9s ease-in-out; 
}
.search-input-container{
  display: flex;
  width: 100%;
}
.search-input{
  border-radius: 2rem ;
  border-color: var(--navcolor);
  margin-right:   auto;
  margin-left: auto;
  margin-top: 1vh;
  text-align: center;
  width: 60%;
  height: 5vh;
}
.cart-search{
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes slideOutTop {
    from {
      transform: translateY(0);
      display: flex;
    }
    to {
      transform: translateY(-100%);
      display: none;
    }
  }

.show-nav {
    display: none;
    animation: slideInTop 0.3s ease-in-out; 

}
.show-search-input{
  animation: slideInTop 0.3 ease-in-out
}
.hide-search-input{
  animation: slideOutTop 0.3 ease-in-out
}
@keyframes slideInTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.show-nav .nav-link:nth-of-type(1){
    animation: slideInLeft 0.3s ease-in-out; 
    opacity: 1; 
  }
  .show-nav .nav-link:nth-of-type(2){
    animation: slideInLeft 0.5s ease-in-out; 
    opacity: 1; 
  }
  .show-nav .nav-link:nth-of-type(3){
    animation: slideInLeft 0.7s ease-in-out; 
    opacity: 1; 
  }
  .show-nav .nav-link:nth-of-type(4){
    animation: slideInLeft 0.9s ease-in-out; 
    opacity: 1; 
  }
  .show-nav .nav-link:nth-of-type(5){
    animation: slideInLeft 1s ease-in-out; 
    opacity: 1; 
  }
  .show-nav .nav-link:nth-of-type(6){
    animation: slideInLeft 1.2s ease-in-out; 
    opacity: 1; 
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .links-slide-out:nth-of-type(1) {
    animation: slide-out 0.3s ease-in-out ; 
  }
  .links-slide-out:nth-of-type(2) {
    animation: slide-out 0.5s ease-in-out; 
  }  .links-slide-out:nth-of-type(3) {
    animation: slide-out 0.7s ease-in-out; 
  }  .links-slide-out:nth-of-type(4) {
    animation: slide-out 0.9s ease-in-out; 
  }  .links-slide-out:nth-of-type(5) {
    animation: slide-out 1.1s ease-in-out; 
  }  .links-slide-out:nth-of-type(6) {
    animation: slide-out 1.3s ease-in-out; 
  }
  @keyframes slide-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  


@media (max-width: 1000px) {
    .big-screen-nav{
        display: none;
    }
    .small-screen-nav{
        padding: 0rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    .h1-menu{
        display: flex;
        align-items: center;
    }
    .menu{
       font-size: 2rem;
       margin-right: 1rem;
       animation: menuFadeOut 1.3s ease-in-out; 
    }
    .picked p{
        margin: 0
    }
    .picked{
    padding: 1rem;
    color: var(--navcolor) !important;
    }

    @keyframes menuFadeOut {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

.nav-link{
   text-decoration: none;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link p {
    margin-left: .5rem;
}
    .show-nav{
        display: flex;
    }
}

@media (max-width: 500px) {
  .small-screen-nav{
    padding: 0rem 1rem;
  }

}