.contact-us{
    margin: 0 10vw;
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.contact-us-form  .contact-form-input{
   margin-bottom: 2rem;
}
.contact-form-input .input-field{
    height: 2rem;
    width: 40vw;
}
.contact-form-input .textarea{
    height: 10rem;
}
.contact-us-form button{
    background-color: var(--bgbuttons);
    border: none;
    border-radius: .3rem;
    color: white;
    padding: .5rem .5rem
}
@media (max-width: 900px) {
    .contact-form-input .input-field{
        height: 2rem;
        width: 80vw;
    }
    .contact-form-input .textarea{
        height: 10rem;
    }
    .contact-us-form h3{
    text-align: center;
}
.contact-us{
    margin: 0 5vw;
    margin-bottom: 3vh;
    margin-top: 5vh;
}
}
