footer{
    background-color: var(--footerBackground);
    color: white;
    padding: 2rem 0;
    position: absolute; /* Positions the footer at the bottom */
    bottom: 0;
    width: 100%;
}
.footer-container{
    margin: 0 1rem;
}