footer{
    background-color: var(--footerBackground);
    color: white;
    padding: 2rem 0;
    position: absolute; /* Positions the footer at the bottom */
    bottom: 0;
    width: 100%;
    z-index: 1;
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background-header.webp'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust opacity to suit your design */
    z-index: -1; /* Ensures the background image is behind the footer content */
}

footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 77, 0.6); /* Adjust color and opacity */
    z-index: -1; /* Ensures the color overlay is behind the footer content but above the image */
}

.footer-container{
    margin: 0 1rem;
}