@charset "UTF-8";
:root {
  --navcolor: rgb(41, 41, 92);
  --bgcolor: ;
  --fontcolor: #fff;
  --color-primary: rgba(0, 0, 128,0.3);
  --color-secondary: #ffcb03;
  --homebuttons: 2rem;
  --bgbuttons: navy;
  --buttonscolor: #fff
}


html,body{
  margin: 0;
  padding: 0;
}
.topmargin{
  margin-top: 10vh;
}

.fade-in {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

.fade-in.visible {
  opacity: 1; 
}
@media (max-width:900px) {
  .topmargin{
    margin-top: 0;
  }
}
.error{
  color: red;
  margin-bottom: 1rem;
}
.orange{
  color: orange
}