@charset "UTF-8";
:root {
  /* --navcolor: rgb(41, 41, 92); */
  --navcolor: rgb(13, 13, 77);
  --fadenavcolor: rgba(41, 41, 92, 0.4);
  --fontcolor: #fff;
  --color-primary: rgba(0, 0, 128, 0.3);
  --color-secondary: #ffcb03;
  --homebuttons: 2rem;
  --bgbuttons: rgb(29, 29, 97);
  --bgcolor: rgba(188, 188, 223, 0.1);
  --buttonscolor: #fff;
  --footerBackground: rgb(13, 13, 77);
  --success: green;
  --out-of-stock: rgba(188, 188, 223, 0.4);
  --hover-add-to-cart: rgb(214, 214, 245);
  --header-footer-bg: rgba(0, 0, 0,0.5); 

}
.playmusic {
  position: fixed;
  bottom: 2vh;
  color: var(--color-secondary);
  font-size: 1.5rem;
  left: 1rem;
  z-index: 100;
}

html,
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: var(--bgcolor);
}
.topmargin {
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}
@media (max-width: 900px) {
  .topmargin {
    padding-top: 10vh;
  }
}
.error {
  color: red;
  margin-bottom: 1rem;
}
.orange {
  color: orange;
}

@media (max-width: 500px) {
  .topmargin {
    padding-top: 7vh;
  }
}
