.margin-top{
    margin-top: 20vh;
}
.auth-bg-image{
    filter: blur(10px);
    opacity: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.pwd-icons {
    top: 25%;
    transform: translate(-50%);
    right: 10px;
    position: absolute; 
}
 
.pwd-input-icons {
    position: relative;
    z-index: 1;
}
 
.eye{
 color: var(--color-primary);

}

.pwd-input-field {
    padding-right: 30px;
}
.input-field{
    padding: .5rem .5rem;
    border-radius: .5rem;
    color: var(--navcolor);
    width: 15rem;
    border: .1rem var(--color-primary) solid;
    
}
.auth-form{
    background-image: linear-gradient(to bottom, var(--bgcolor), var(--navcolor));
    color: var(--navcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50%;
    margin: auto;
    border-radius: 2rem;
   
}
.auth-form h3{
    font-size: 2rem;
   border-bottom: .2rem solid ;
}
.auth-form-input  {
    margin-bottom: 2rem;
    display: flex;
}
.auth-form-input label{
    width: 5rem;
    text-align: left;
}

@media (max-width: 900px) {
    .auth-form {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        background-image: none;
        background-color: var(--bgcolor);
    }
}